<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>justKIDding</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel='stylesheet' href='/css/normalize.css' />
    
    <!-- Custom styles -->
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <header>
      <a href='/' class='page-title'>justKIDding</a>
      <img src="./images/cryingbaby.png" alt="" style="width: 100px;">
      <nav>
        {{#if logged_in}}
          <button class='link logout' id='logout'>Log out</button>
        {{else}}
          <a href='/login' class='link login'>Log in</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>