<div class="p-2 main ">

    <h2 class="text-center btn-shine">
        Welcome to Just KIDding~
    </h2>
    <h4 class="text-center ">
        Whether you're a bored parent or need to find some items on the marketplace, taking care of your child has never
        been more fun.
    </h4>
</div>

<div class="row row-cols-3 g-4">
    {{#each threads as |thread|}}
    <div class=" col-12 col-md-4 ">
        <div class="card border rounded m-4">
            <a class="threadnames" href="/thread/{{id}}">
                <img class=" card-img-top rounded-1" src="{{img}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text ">{{title}}</p>
                </div>
            </a>
        </div>
    </div>
    {{/each}}
</div>