{{#each threads as |thread|}}
<div class="card-body col-sm-4 border rounded m-5" style="width: 18rem;">
    <img class="card-img-top" src=".\img\{{id}}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">{{title}}</p>
    </div>
</div>
{{/each}}