<div class="card-container">

    <div class=" card-body row justify-content-center m-4">
        <div class=" login card-body col-sm-3 border rounded p-3 m-5">
            <h2 class="text-center"> Log In </h2>
            <form class="  login-form">
                <div class="form-group">
                    <label for="InputEmailLogin">Email address</label>
                    <input type="email" class="form-control" id="InputEmailLogin" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="InputPasswordLogin">Password</label>
                    <input type="password" class="form-control" id="InputPasswordLogin" placeholder="Password">
                </div>
                <div class="pt-3">
                    <button type="submit" class=" btn ">Log In</button>
                </div>
            </form>
        </div>
        <div class=" signup card-body col-sm-3 border rounded p-3 m-5">
            <h2 class="text-center"> Sign Up </h2>
            <form class="signup-form">
                <div class="form-group">
                    <label for="InputUsernameSignup">Username</label>
                    <input type="text" class="form-control" id="InputUsernameSignup" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="InputEmailSignup">Email address</label>
                    <input type="email" class="form-control" id="InputEmailSignup" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="InputPasswordSignup">Password (min. 8 characters)</label>
                    <input type="password" class="form-control" id="InputPasswordSignup" placeholder="Password" minlength="8">
                </div>
                <div class="pt-3">
                    <button type="submit" class="btn ">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="./js/login.js"></script>