<div class="row">
  <div class="col-auto">
    <h2> {{thread.name}}</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Latest post</h3>

    <div>
      title:{{posts[0].title}}
    </div>
    <div>
      text:{{posts[0].Arraytext}}
    </div>
    <div>
      Image: {{posts[0].image_url}}
    </div>

  </div>

</div>


<div class="col-md-6">
  <div>
    Make a new post
    <form action="/uploads" method="post" enctype="multipart/form-data">
      <input placeholder="Item" maxlength="30" type="text" name="title" />
      <input placeholder="Description" maxlength="200" type="text" name="text" />
      {{#if thread.id = 1}}
      <input type="number" name="price" placeholder="price">
      {{/if}}
      <input type="file" name="upload"> <button type="submit">Submit</button>
    </form>

  </div>
  <div>
    <h3>Other Posts</h3>
    {{#each posts as |post|}}
    {{>history}}
    {{/each}}
  </div>

</div>