.navbar {
    background-color: rgb(248, 201, 209);
    
}
.container {
    /* margin-left:1rem;
    margin-right:1rem;
    width:100%; */
}

header a {
    text-decoration: none;
}

#babylogo {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    min-width: 5rem;
  }

  @keyframes slidein {
    from {
      margin-left: 50%;
      width: 10%;
    }
  
    to {
      margin-left: 0%;
      width: 10%;
    }
  }